body {
    background: white url("images/table_wedding3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand {
    padding: 0px; /* firefox bug fix */
  }
  .navbar-brand>img {
    height: 100%;
    padding: 15px; /* firefox bug fix */
    width: auto;
  }

.logo-image{
width: 46px;
height: 46px;
border-radius: 50%;
overflow: hidden;
margin-top: -6px;
}